
/**********************************/
/********** COMMON STYLE **********/
/**********************************/
* {
    font-family: helvetica;
}
h1 {
    font-family: 'Passion One', cursive !important;
}
h2 {
    font-family: 'Passion One', cursive;
    font-size: 6rem;
}
#about-section, #skill-section, #contact-section {
    border-bottom: #dddddd 1px solid;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    margin-bottom: 3px;
}
.left {
    left: -100%;
}
.right {
    right: -100%;
}
#random-facts img, #page-header, .left, .right {
    transition: all .8s;
}
/********** End: Common Style **********/

/**********************************/
/********** HEADER STYLE **********/
/**********************************/
#page-header {
    background-color: black;
    top: -90px;
}
.navbar-header {
    padding-top: 10px;
}
#page-header .navbar-brand {
    font-size: 3em;
    color: #ffffff;
}
#nav-list {
    margin-left: 50px;
}
#nav-list .nav-item {
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    border-bottom: 10px;
    border-bottom-color: #ffffff;
    width: 150px;
    font-weight: bold;
}
#nav-list .nav-item a {
    color: #ffffff;
}
#nav-list a:hover, #page-header .navbar-nav > .active > a {
    background-color: #ffffff;
    color: #000000;
}
/********** End: Header Style **********/

/**********************************/
/********** FOOTER STYLE **********/
/**********************************/
footer {
    background: #f5f5f5;
    margin-top: 50px;
    height: 80px;
    color: #666666;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
footer .row {
    position: relative;
    padding-top: 30px;
}
footer a {
    color: #666666;
}
footer nav ul {
    list-style: none;
}
footer nav li {
    float: left;
}
footer li a {
    margin-left:20px;
    margin-right: 20px;    
    cursor: pointer;
}
footer a:hover {
    color: #333333;
    text-decoration:none;
}
footer .footer-logo {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
footer #top-arrow {
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    left: 0px; 
}
footer #top-arrow a {
    color: #666666;
    position: absolute;
    height: 90px;
    width: 118px;
    display: block;
    left: 50%;
    margin-left: -50px;
    bottom: -40px;
    background: url("../Resources/sprite.png") 0 -217px;
    background-color: transparent;
    text-indent: -9999px;
}
footer #top-arrow a:hover {
  bottom: -35px;
}
/********** End: Footer Style **********/

/*********************************/
/********** INDEX STYLE **********/
/*********************************/
#main-content {
    margin-top: 70px;
}
#photo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
/********** End: Index Style **********/

/*********************************/
/********** ABOUT STYLE **********/
/*********************************/
.about {
    padding-bottom: 30px;
    padding-top: 30px;
}
#about-section {
    background: #ffffff;
}
#about-section p {
    font-size: 2.7rem;
}
#about-section span {
    font-size: 2rem;
}
#skill-section {
    background: #fafafa;
    padding-bottom: 60px;
}
#skill-section .skill-tag {
    margin-bottom: 30px;
}
#skill-section .skill-label {
    text-align: center;
}
#skill-section ul {
    font-size: 1.7rem;
    list-style: outside;
    line-height: 2.5em;
    padding-top: 30px;
    padding-left: 15px;
}
#skill-section li {
    cursor: pointer;
}
#hexagon {
    text-transform: uppercase;
    position: relative;
}
#hexagon span {
    font-size: 1.4em;
    position: absolute;
}
#hexagon .skill1 {    
    top: -30px;
    left: 140px;
}
#hexagon .skill2 {
    top: 65px;
    left: 320px;
}
#hexagon .skill3 {
    top: 225px;
    left: 320px;
}
#hexagon .skill4 {
    top: 310px;
    left: 140px;
}
#hexagon .skill5 {
    top: 225px;
    left: -85px;
}
#hexagon .skill6 {
    top: 65px;
    left: -65px;
}
svg .outer-polygon {
    fill: #e8e8e8;
}
svg .outer-polygon,
line {
    stroke: black;
    stroke-width: 1;
}
#skills-polygon {
    fill: #6528a1;
}
#random-facts {
    background: #ffffff;
    padding-top: 30px;
}
#random-facts img {
    transition: all .8s;
}
#dog-img {
    position: relative;
}
#dog-img img {
    position: absolute;
}
#random-facts p {
    font-size: 2rem;
}
#random-facts ul {
    font-size: 1.7rem;
    line-height: 2.3em;
    list-style: none;
    padding-left: 0;
}
/********** End: About Style **********/

/***********************************/
/********** CONTACT STYLE **********/
/***********************************/
#skill-section .skill-label,
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  border: #ccc solid 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #666666;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0px;
}
#skill-section .skill-label,
.contact input[type="text"],
.contact input[type="email"] {
  height: 30px;
  line-height: 30px;
}
.contact textarea {
  height: 112px;
}
.contact .submit {
  float: right;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
  background-repeat: repeat-x;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  vertical-align: middle;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  padding: 0 2em;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #333333));
  background-image: -ms-linear-gradient(bottom, #111111, #333333);
  background-image: -moz-linear-gradient(center bottom, #111111 0%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #111111, #333333);  
}
.submit:hover {
  background-position: 0 15px;
}
.contact .ajax-loader {
  float: right;
  padding: 8px 10px 0px 0px;
}
#email-section p {
    padding-bottom: 20px;
}
/********** End: Contact Style **********/







/******* Media Queries *******/
/** Large Devices **/
@media (min-width: 1200px) {
}

/** Medium Devices **/
@media (min-width: 992px) and (max-width: 1199px) {
}

/** Small Devices **/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-list .nav-item {
        width: 120px;
    }

    #nav-list {
        margin: 0 auto;
        width: 600px;
        float: none;
    }



    footer li a {
        margin-left: 0;
    }
}

/** Extra small Devices **/
@media (max-width: 767px) {
    #nav-list {
        margin: 0 auto;
    }

    #nav-list .nav-item {
        width: auto;
    }

    footer li a {
        margin-left: 0;
    }
}